footer {

    background-color: @guidr-green;
    height: 4rem;
    color: @light-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: @main-font;
  }

