h1, h2, h3, h4 {
  font-family: 'Rokkitt', serif; 
  color: @feature-text;
}

p {
  font-family: 'Rokkitt', serif;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}