body {
  background-image: url('/imgs/treebridge.jpg');
  background-size: 85%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: @feature-text;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.center-info {
  background-color: @light-window;
  display: flex;
  flex-direction: column;
  width: 43%;
  height: 350px;
  align-items: center;
  justify-content: center;
  
  p {
    text-align: center;
  }

  hr {
    border: .25px solid #073422;
    width: 335px;
    }

}









.buttons {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: @buttons;
  width:150px;
  height: 45px;
  border-radius: 6px;
  border-color: transparent;
  color: #eeeeee;
  font-family: 'Rokkitt', serif;
}

h1 {
  text-align: center;
}
