body {
  background-image: url('/imgs/treebridge.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.center-info {
  background-color: @light-window;
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

