// body {
//   background-image: url('/imgs/treebridge.jpg');
//   background-size: 85%;
//   background-position-x: center;
//   background-repeat: no-repeat;
//   background-color: @feature-text;
// }


// main {
//   display: flex;
//   justify-content: center;
//   padding-top: 10%;
// }

.intro{
  // background-size: contain;
  // background-repeat: initial;
  // width: 100%;
  // height: 61.6rem;
  //background-image: url('/imgs/landing_bridge.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  img {
    width: 100%;
    height: 100%;
  }
  
  .intro-window {
    background: fade(@transp-window, 50%);
    position: absolute;
    width: 372px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-top: 20%;

    p {
      text-align: center;
      color: @feature-text;
      font-size: 2rem;
    }
      
    h1 {
      text-align: center;
      border-bottom: .25px solid #073422;
      width: 230px;
      margin-bottom: 15px;
      padding-bottom: 10px;
    }
    
    .header-button {
      border-color: transparent;
      background-color: @light-accent;
      width: 40%;
      height: 2.5rem;
      font-family: @main-font;
      font-size: 1.5rem;
      font-weight: bold;
      color: @feature-text;
      margin-top: 10px;
    }
  }
}

.organize {
  height: 60rem;
  color: @light-accent;
}


